.env
/logs/
/config/
!/config/.gitkeep
/media/files/
!/media/files/.gitkeep
/media/images/
!/media/images/.gitkeep
/var/tmp/
!/var/tmp/.gitkeep
/var/import/
!/var/import/.gitkeep
/var/logs/
!/var/logs/.gitkeep
