.*
!.github
!.gitignore
!.htaccess
!.gitkeep
!.ddev
!.php-cs-fixer.php
!.github/ci-files/.my.cnf
.ddev/mautic-preference
/.ddev/docker-compose.host-docker-internal.yaml
!/.ddev/.env.*.dist
/.ddev/docker-compose.phpmyadmin_norouter.yaml
!.gitpod.Dockerfile
!.gitpod.yml
!.ddev/commands/web/dd
.php_cs.cache
/.env.local
/.env.local.php
/.env.*.local
/composer.phar
/coverage.xml
/app/bootstrap*
/app/console
/app/tests.bootstrap*
/app/phpunit.xml

.env
/backup
!/backup/.gitkeep
/config/
!/config/.gitkeep
/media/files/
!/media/files/.gitkeep
/media/images/
!/media/images/.gitkeep
/var/tmp/
!/var/tmp/.gitkeep
/import/
!/import/.gitkeep
/logs/
!/logs/.gitkeep
